{% for component in components %}
    <div class="card {{ component.options.class|e }} mt-3 mb-3">
        <div class="card-header">
            <h6 class="card-text">
                <i class="{{ component.options.icon }} mr-2"></i>
                {{ component.label|capitalize }}
            </h6>
        </div>
        <ul class="list-group list-group-flush">
        {% for item in component.data %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ item.file }}</span>
                <span><i class="{{ item.valid ? 'fas fa-check-circle text-success' : 'fas fa-exclamation-circle text-danger' }}"></i></span>
            </li>
        {% endfor %}
    </div>
{% endfor %}
